<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reference Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  </head>
  <body ng-app="app" ng-cloak>
    <app></app>

    <div class="big-spinner" ng-if="bigSpinnerSpinning"> 
      <div class="inner">
        <img ng-src="{{spinnerURL}}">
        <p>LOADING</p>
      </div>
    </div>

    <div class="overlay" ng-if="showOverlay" ng-click="onOverlayClick()"></div>

  </body>
</html>
