.button, #{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: $base-box-shadow;

  &:hover,
  &:focus {
    background-color: shade($action-color, 10%);
    outline: 0;
    box-shadow: $base-box-shadow, $focus-box-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}


.button-bar #{$all-buttons} {
  display: block;
  float: left;
  height: 100%;
  box-shadow: none;

  &:focus {
    outline: 0;
  }
}