@import 'common/common';
@import 'common/base/base';

body {
  background-color: $base-background-color;
  margin: 0;
}

.big-spinner {
  background-color: transparentize($dark-gray, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  .inner {
    color: $orange;
    position: relative;
    top: 45%;

    spinner {
      width: 60px;
      height: 60px;
      margin: auto;
    }
  }
}

.fa-sticky-note {
  @include transform( rotate(180deg))
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($dark-gray, .95);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 199;
}