reference-uploader {
  #reference-uploader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    z-index: 1000;

    #reference-uploader-drop-tagged {
      width: 50%;
      height: 100%;
      float: left;
      border-right: 1px solid #eee;
    }

    #reference-uploader-drop-untagged {
      height: 100%
    }
  }
}