@import '../../common/common';

taglet {
  background-color: $yellow;
  margin: $base-spacing $base-spacing $base-spacing 0;
  font-size: .9em;
  line-height: 2;
  padding: 4px 0;
  color: $dark-gray;

  .one-line {
    padding: 0 4px;
    display: inline-block;
    white-space: nowrap;
  }

  &.highlighted {
    background-color: $orange;
    .tag {
      display: none;
    }

    .remove {
      display: inline-block;
    }
  }

  a {
    color: $dark-gray;
    &:hover {
      color: lighten($dark-gray, 20%);
    }
  }

  .tag {
    width: 1em;
    color: $orange;
  }

  .remove {
    display: none;
    width: 1em;
    cursor: pointer;
    &:hover {
      color: lighten($dark-gray, 20%);
    }
  }

  &:hover {
    .tag {
      display: none;
    }

    .remove {
      display: inline-block;
    }
  }
}