@import '../neat/neat-helpers';

// Neat Overrides
$column: 90px;
$gutter: 12px;
$grid-columns: 12;

$mobile: 480px;
$tablet: 1024px;

// When the screen is wider than the max grid width
$max-width-grid: new-breakpoint(min-width $tablet+1 12);
// When the screen is too small for 12 grid columns
$tablet-grid: new-breakpoint(max-width $tablet 8);
// When the screen is too small for 8 grid columns
$mobile-grid: new-breakpoint(max-width $mobile 4);

$border-box-sizing: false;

// Enables a gray grid showing the columns in the grid for debugging purposes
// $visual-grid: true;
