// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: Verdana, sans-serif;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 8px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #211E1B;
$orange: #FF9000;
$yellow: #FFC200;
$yellow-hover: shade($yellow, 10%);
$green: #AFBF1D;
$green-hover: shade($green, 10%);
$red: #A61A00;
$red-hover: #e10;
$dark-gray: lighten($black, 15%);
$medium-gray: lighten($black, 30%);
$medium-gray-hover: lighten($black, 17%);
$light-gray: #eeeae6;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $light-gray;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
