<div class="reference-thumbnail-wrapper"
     ng-mouseleave="deleting = false">
  <earmark marked="$ctrl.earmarked()"
           ng-click="$ctrl.toggleEarmark()"></earmark>

  <div class="menu button-bar">
    <button class="delete" ng-click="deleting = true">
      <i class="fa fa-trash"></i>
    </button>
  </div>
  <div class="delete-menu button-bar" ng-class="{visible: deleting}">
    <button class="delete" ng-click="$ctrl.delete()">Delete</button>
    <button class="cancel" ng-click="deleting = false">Cancel</button>
  </div>

  <div class="spinner" ng-if="$ctrl.spinning || !$ctrl.reference.square || $ctrl.reference.spin">
    <spinner></spinner>
  </div>

  <a class="biglink" ui-sref="reference({id:'{{$ctrl.reference.id}}'})">
    <img class="square" ng-src="{{$ctrl.reference.square}}">
  </a>
</div>
