<div class="reference-thumbnail-wrapper" 
     ng-mouseenter="$ctrl.hover()" 
     ng-mouseleave="$ctrl.unhover()">
  <div class="menu button-bar" ng-show="$ctrl.hovering">
    <button class="delete" ng-click="$ctrl.deleting = true">
      <i class="fa fa-trash"></i>
    </button>
  </div>
  <div class="delete-menu button-bar" ng-class="{visible: $ctrl.deleting}">
    <button class="delete" ng-click="$ctrl.delete()">Delete</button>
    <button class="cancel" ng-click="$ctrl.deleting = false">Cancel</button>
  </div>

  <div class="spinner" ng-if="$ctrl.spinning || !$ctrl.reference.square">
    <img ng-src="{{$ctrl.spinnerURL}}">
  </div>

  <a class="biglink" ui-sref="reference({id:'{{$ctrl.reference.id}}'})">
    <img class="square" ng-src="{{$ctrl.reference.square}}">
  </a>
</div>
