@import '../../common/common';

reference-thumbnail {
  height: 100%;
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,.14), 1px 2px 1px -1px rgba(0,0,0,.12);

  .reference-thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: 100%;


    // EARMARKING!

    &:after{
      content: ' ';
      display: block;
      top: 0px;
      left: 0px;
      position: absolute;
      border-bottom: 0px solid transparent;
      border-left: 0px solid $light-gray;
      transition: border .125s;
    }

    &:before{
      content: ' ';
      display: block;
      top: 0px;
      left: 0px;
      position: absolute;
      border-top: 0px solid transparent;
      border-right: 0px solid #f8f8f8;
      box-shadow: 1px 1px 1px 0px rgba(0,0,0,.3);
      transition: border .125s;
    }

    &.earmarkable {
      &:after {
        border-bottom-width: 11px;
        border-left-width: 11px;
      }
      &:before {
        border-top-width: 10px;
        border-right-width: 10px;
      }
    }

    &.earmarked {
      &:after {
        border-bottom-width: 21px;
        border-left-width: 21px;
      }
      &:before {
        border-top-width: 20px;
        border-right-width: 20px;
      }
    }

    // END EARMARKING!

    .biglink {
      display: block;
      line-height: 0;
    }

    .square {
      width: 100%;
    }

    .spinner {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($black, .5);
      line-height: 0;
      padding: 50% 0;
      text-align: center;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-top: -25px;
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 40px;
      z-index: 150;
    
      .delete {
        background-color: $orange;
        width: 40px;
        float: right;
      }

      .earmark {
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
      }
    }

    &:hover {
      .menu, .delete-menu {
        display: block;
      }
    }

    .delete-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 40px;
      background-color: #fff;
      overflow: hidden;
      transition: width .125s;
      z-index: 150;

      &.visible {
        width: 100%;
      }

      .cancel {
        background-color: $green;
        width: 55%;

        &:hover {
          background-color: $green-hover;
        }
      }

      .delete {
        width: 45%;
        background-color: $red;

        &:hover {
          background-color: $red-hover;
        }
      }
    }
  }
}