<div class="reference-background">
  <div class="reference-image">
    <img ng-src="{{$ctrl.reference.medium}}">
    <earmark marked="$ctrl.earmarked()"
             ng-click="$ctrl.toggleEarmark()"></earmark>
  </div>
  <div class="close" ng-click="$ctrl.back()">
    &times;
  </div>
</div>
<div class="grid-container">
  <div class="info">
    <label>Tags:
      <tag-search tags="$ctrl.tags" 
                  chosen-tags="$ctrl.chosenTags"
                  tag-added="$ctrl.addTag(tag)"
                  tag-removed="$ctrl.removeTag(tag)"></tag-search>
    </label>
    <label>Danger Zone:</label>
    <button class="delete" ng-click="$ctrl.delete()">Delete Reference</button>
  </div>
</div>
