@import '../common/common';

home {
  display: block;
  margin: $base-spacing 0;

  .bar {
    position: relative;

    action-menu {
      position: absolute;
      top: 0;
      right: 0;

      .hamburger-button {
        height: 35px;
        width: 35px;
        box-shadow: none;
      }

      @include media($max-width-grid) {
        right: $base-spacing;
      }
    }
  }

  reference-thumbnail, reference-uploader {
    margin-bottom: $base-spacing;

    @include media($max-width-grid) {
      @include span-columns(2);
      @include omega(6n);
    }

    @include media($tablet-grid) {
      @include span-columns(2);
      @include omega(4n);
    }

    @include media($mobile-grid) {
      @include span-columns(2);
      @include omega(2n);
    }
  }

  .empty-message {
    justify-content: center; 
    align-items: center;
    padding-right: $base-spacing;

    .text {
      min-width: 50%;
    }
    @include media($max-width-grid) {
      @include span-columns(8);
      display: flex; 
    
      .height-er {
        padding-top: 25%;
        width: 1px;
      }
    }

    @include media($tablet-grid) {
      @include span-columns(6);
      display: flex; 

      .height-er {
        padding-top: 33%;
        width: 1px;
      }
    }

    @include media($mobile-grid) {
      @include span-columns(2);
      display: flex; 

      .height-er {
        padding-top: 100%;
        width: 1px;
      }
    }
  }
}