@import '../common/common';

home {
  display: block;
  margin: $base-spacing 0;

  reference-thumbnail, reference-uploader {
    margin-bottom: $base-spacing;

    @include media($max-width-grid) {
      @include span-columns(2);
      @include omega(6n);
    }

    @include media($tablet-grid) {
      @include span-columns(2);
      @include omega(4n);
    }

    @include media($mobile-grid) {
      @include span-columns(2);
      @include omega(2n);
    }
  }
}