<div class="grid-container bar">
  <tag-search chosen-tags="$ctrl.chosenTags"
              tag-added="$ctrl.updateURL()"
              tag-removed="$ctrl.updateURL()"></tag-search>
  <action-menu on-tag-all="$ctrl.tagAll(tags)" on-untag-all="$ctrl.untagAll(tags)"></action-menu>
</div>

<div class="grid-container"
     infinite-scroll-disabled="$ctrl.referenceIndex >= $ctrl.references.length - 1"
     infinite-scroll="$ctrl.showMore()"
     infinite-scroll-distance="1">
  <reference-uploader chosen-tags="$ctrl.chosenTags" show-button="true"></reference-uploader>

  <reference-thumbnail
     ng-repeat="reference in $ctrl.filteredReferences track by reference.id"
     reference="reference">
  </reference-thumbnail>

  <div class="empty-message" ng-if="$ctrl.chosenTags.length && $ctrl.filteredReferences.length == 0 && !$ctrl.isEarmarked()">
    <div class="height-er"></div>
    <div class="text">
  There are no images in {{$ctrl.chosenTags.length > 1 ? "these tags" : "this tag"}} yet! Upload some references here by dragging and dropping images from other websites, from your computer, or by pressing the big plus.
    </div>
  </div>

  <div class="empty-message" ng-if="!$ctrl.chosenTags.length && $ctrl.filteredReferences.length == 0">
    <div class="height-er"></div>
    <div class="text">
      <h2>Welcome!</h2>
      You haven't uploaded any images yet. Create tags for images by typing them in the box above. Upload some images by dragging and dropping images from other websites, from your computer, or by pressing the big plus.
    </div>
  </div>

  <div class="empty-message" ng-if="$ctrl.isEarmarked() && $ctrl.filteredReferences.length == 0">
    <div class="height-er"></div>
    <div class="text">
      This is the earmark tag! You can earmark images at any time by tapping them in upper-left-hand corner; then they'll show up here.
    </div>
  </div>
</div>
