@import '../../common/common';

tag-search {
  @include span-columns(12);
  margin-bottom: $base-spacing;
  cursor: text;
  font-weight: 300;

  .border {
    position: relative;
    background-color: #fff;
    padding: $base-spacing;
    box-shadow: $form-box-shadow;
  }

  .focused {
    box-shadow: $form-box-shadow-focus;
  }

  .tags {
    transition: max-height .5s;
    max-height: 0px;
    overflow: hidden;

    &.open {
      max-height: 200px;
      margin-bottom: $base-spacing;
    }
  }

  .sub-input[type="text"] {
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0px;
    height: 35px - $base-spacing * 2;
    &:focus {
      outline: 0;
      box-shadow: none;
      border: 0;
    }
  }

  .autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    .autocomplete-tag {
      padding: $base-spacing/2 $base-spacing;
      .fa-tag {
        margin-right: $base-spacing / 2;
      }

      &.highlighted {
        background-color: $light-gray;
      }
    }
  }
}