@import '../common/common';

action-menu {
  position: relative;

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    z-index: 200;
    box-shadow: $base-box-shadow;

    .entry {
      display: block;
      color: $dark-gray;
      cursor: pointer;
      background-color: #fff;
      padding: $base-spacing/2 $base-spacing;

      &:hover {
        background-color: $light-gray;
      }
    }

    .tag-all {
      @include clearfix;
      background-color: #fff;
      padding: $base-spacing;

      button {
        float: right;
      }
    }
  }
}